* {
    border: red solid 1px;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1992D4;
    color: #fff;
}

.sidebar>div {
    padding-bottom: 50px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

main .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

main .bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main .top .first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main .top .second-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main .top .second-row .contact-card {
    display: grid;
    grid-template-columns: 1fr 5fr;
}